{{extend 'plantillasitio.html'}}

{{if session.aceptado_graduado is not None:}}

 
                <div class="col-lg-12">
                   <div class="alert alert-success alert-mg-b alert-success-style4">
                            <button type="button" class="close sucess-op" data-dismiss="alert" aria-label="Close">
                                <span class="icon-sc-cl" aria-hidden="true">&times;</span>
                            </button>
                            <span class="adminpro-icon adminpro-danger-error admin-check-sucess"></span>
                            <h6><b> Aceptado!</b></h6>
                            <p> {{=session.aceptado_graduado}} </p>
                    
                    </div>
                </div>
              
      

{{pass}}
<div class="col-12 grid-margin">
<div class="card" >
<div class="card-body" >
    <h2>Modificar graduado de pregrado</h2>
    </br>
    {{=formulario}}

</div>
</div>
</div>

